<nav class="navbar navbar-dark">
    Angular 9 & Firebase - Renan Sá Cavalcante
</nav>
<div class="container">
    <div class="row justify-content-center p-2">
        <h1>Agenda Telefônica</h1>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="contatoNome" placeholder="Nome">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="contatoDescricao" placeholder="Descrição">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="contatoTelefone" placeholder="Telefone">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="CreateRegistro()"
            [disabled]="!contatoNome || !contatoDescricao || !contatoTelefone">Criar Contato</button>
    </div>
    <div class="form-group">
        <h4><b>{{message}}</b></h4>
    </div>
    <div class="row p-2">
        <div class="col-md-12 p-2 justify-content-center">
            <h4>Todos os contatos</h4>
        </div>
        <div class="col-md-3" *ngFor="let item of contato">
            <div class="card" *ngIf="!item.isedit; else elseBlock">
                <div class="card-body">
                    <div class="card-title">
                        Nome: {{item.nome}}
                    </div>
                    <div class="card-subtitle">
                        Descrição: {{item.descricao}}
                    </div>
                    <div class="mt-2 card-text">
                        Telefone: {{item.telefone}}
                    </div>
                    <span>
                        <a href="#" (click)="EditRegistro(item)" class="mt-2 btn btn-primary btn-xs">Editar Contato</a>
                        <a href="#" (click)="Deletecontato(item.id)" class="mt-1 btn btn-danger btn-xs">Deletar
                            Contato</a>
                    </span>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Alterar Contato
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="item.editNome" class="form-control">
                                </div>
                                <div class="mt-1 col-md-12">
                                    <input type="text" [(ngModel)]="item.editDescricao" class="form-control">
                                </div>
                                <div class="mt-1 col-md-12">
                                    <input type="text" [(ngModel)]="item.editTelefone" class="form-control">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-danger btn-xs" (click)="item.isedit = false">Cancelar</a>
                        <a href="#" class="ml-2 btn btn-primary btn-xs" (click)="Updataregistro(item)">Atualizar</a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>